<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>FBK Raptors</h1>
    <p>Na tejto stránke sa môžete jednoducho prihlásiť na tréning alebo zápas.</p>
    <p>Ak ešte nie si zaregistrovaný, tak klikni <a href="{% url 'registration' %}">sem.</a></p>
    <p>Ak už máš účet a chceš sa prihlásiť, tak klikni <a href="{% url 'login' %}">sem</a>.</p>
</body>
</html>
